<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <title>Document</title>
</head>
<body>
        <h1>Sistema de gestion de biblioteca</h1>
        <form id='form'>
            <input id='inputName'type="text" placeholder="nombre" name="name">
            <input id='inputPassword'type="password" placeholder='password' name="password">
            <button type="submit">Login</button>
        </form>
        <h3>Si no tienes usuario, por favor registrate</h2>
        <form id='formRegister'>
            <input id='inputNameRegister'type="text" placeholder="nombre" name="name">
            <input id='inputEmailRegister'type='text' placeholder='email' name="email">
            <input id='inputUserNameRegister' type="text" placeholder='username' name="userName">
            <input id='inputPasswordRegister'type="password" placeholder='password' name="inputPasswordRegister">
            <button type="submit">Register</button>
        </form>
    
    <script src="./scripts/submit.js"></script>
    <script src="./scripts/register.js"></script>
</body>
</html>